/* #sideBarDiv{
    width: 250px;
    height: 150%;
    background-color: rgba(117, 40, 40, 0.596);
    color: white;
} */

/* .MuiSvgIcon-root{
    color: black;
} */
/* .iconsNav{
    color: black;
} */
.iconsNav{
    color: rgba(0, 0, 0, 0.329);
}